#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Display disclaimer
db_input high torque/disclaimer || true
db_go

# Let the user choose which daemons to run
db_input high torque/daemon_list || true
db_go

# Ask the user for server_name
db_input high torque/server_name || true
db_go

# If the user wants daemons, ask for any options to be passed
db_get torque/daemon_list
for daemon in $RET; do
    daemon=${daemon%,}
    db_input medium torque/${daemon}_opts || true
    db_go
done

# Let the user specify which option must be used when pbs_mom restart 
db_input medium torque/pbs_mom_restart_opts || true
db_go
